@font-face {
	font-family: Determination; 
	src: url('../fonts/DeterminationMonoWeb.woff');
} 

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
}

table {

	margin-left: 10px;
	margin-right: 20px;
	padding-right: 20px;
}

th {
	font-size:10pt;
}

pre {
	background-color:#23241F;
}


.main {
	text-align:left;
	max-width: 1200px;
	
	font-size: 12pt;
	padding: 40px;
	padding-right: 50px;
	margin-top: 20px;
	margin-bottom: 40px;

	border:4px solid black;
}

.blank {
	width: 80px;
}

.table th.text-right, .table td.text-right { text-align: right; }